* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #007308;
}

.areaPrincipal {
    /*Así se define una clase*/
    background-image: url("../img/madera_grande.jpg");
    /* agregar fondo de imagen al div*/
    background-repeat: no-repeat;
    /*permitir o no que se repita una imagen*/
    width: 100%;
    height: auto;
    opacity: 0.7;
    /*Opacidad de la imagen*/
    -webkit-background-size: 100% 100%;
    /* Safari 3.0 */
    -moz-background-size: 100% 100%;
    /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;
    /* Opera 9.5 */
    background-size: 100% 100%;
    /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}


#encabezado {
    background: #026637;
    height: 240px;
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 900px 200px;
    background-position: center; /* Centra la imagen horizontal y verticalmente */
}



.piePagina {
    width: 100%;
    /*ancho*/
    height: 100px;
    /*alto*/
    background: #026637;
    /*Color de fondo*/
    color: white;
    /*Color de letra dentro de la clase*/
    bottom: 0;
    /*Espacio de separación parte inferior*/
    position: fixed;
    left: 0;
    /*Alineación de contenidos a la izquierda*/
}


#menu {
    /*identificador*/
    height: 40px;
    position: relative;
    top: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}


#datos {
    width: 80%;
    background-color: #38953e;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: #2a3e55;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .no1{
        color: rgb(255, 255, 255);
        font-size: 25px;
    }

    .cat{
        display: flex;
        align-items: center;
    }

    .imagen-ovalada {
        width: 200px;
        /* Ajusta el ancho según lo necesites */
        height: 200px;
        /* Ajusta la altura según lo necesites */
        object-fit: cover;
        /* Asegura que la imagen se ajuste bien dentro del contenedor */
        border-radius: 90%;
        /* Hace que la imagen tenga forma de círculo */
    
    }

    td{
        color: #111111;
        font-size: 30px;
        position: relative;
        
    }

    .tabla1{
        position: absolute;
        top: 350px;
        margin-left: 700px;
    }

    .tabla2{
        position: absolute;
        top: 600px;
        margin-left: 700px;
    }

.menu_tacos h1{
    font-size: 35px;
    background-color:rgb(10, 94, 28);
    color: white;

}

.menu_i{
    position: absolute;
    margin-left: 120px;
    width: 120px;

}
 

.empresas {
    position: absolute;
    top: 300px;
    left: 1500px; 
    text-align: center; 
}

.empresas p{
    background-color: #007308;
    color: white;
}


